<h1>{{arenaCtrl.title}}</h1>
<a class="btn btn-default" href="/" role="button">home</a>
<div>
    Filter Search: <input type="text" ng-model="filterSearch">
</div>
  Sort By:
  <select ng-model="arenaOrder">
      <option value="team">Team</option>
      <option value="location">Location</option>
  </select>
<div class="arena-lists">
  <div ng-repeat="arena in arenaCtrl.arenas | orderBy: arenaOrder | filter:filterSearch" class="row arena-list">
    <div class="col-md-2">
      <img class="img-thumbnail" src="/images/{{arena.teamLogo}}">
    </div>
    <div class="col-md-3">
      <p>{{ arena.team }}</p>
      <p>{{ arena.location}}</p>
      <p>{{ arena.arena }}</p>
    </div>
    <div class="col-md-2">
      <img src="/images/arenas/{{arena.image}}" class="img-thumbnail">
    </div>
    <div class="col-md-4">
      <button type="button" name="add" ng-click="arenaCtrl.addArena(arena)" ui-sref="profile({user: main.currentUser._id})">visit</button> <br>
      <button type="button" ng-click="arenaCtrl.selectArena(arena);main.open()">Open me!</button>
    </div>
  </div>
</div>
