Copy
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="row">
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Anaheim-ducks.jpg" alt="Anaheim Ducks">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Arizona-coyotes.png" alt="Arizona Coyotes">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Boston-bruins.png" alt="Boston Bruins">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Buffalo-sabres.png" alt="Buffalo Sabres">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Calgary-flames.jpg" alt="Calgary Flames">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Carolina-hurricanes.png" alt="Carolina Hurricanes">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Chicago-blackhawks.png" alt="Chicago Blackhawks">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Colorado-avalanche.png" alt="Colorado Avalanche">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Columbus-blue-jackets.png" alt="Columbus Blue Jackets">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Dallas-stars.png" alt="Dallas Stars">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Detroit-red-wings.gif" alt="Detroit Red Wings">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Edmonton-oilers.gif" alt="Edmonton Oilers">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Florida-panthers.png" alt="Florida Panthers">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Los-Angeles-kings.png" alt="Los Angeles Kings">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Minnesota-wild.gif" alt="Minnesota Wild">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Montreal-canadiens.jpg" alt="Montreal Canadiens">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Nashville-predators.png" alt="Nashville Predators">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/New-Jersey-devils.gif" alt="New Jersey Devils">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/New-York-islanders.png" alt="New York Islanders">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/New-York-rangers.png" alt="New York Rangers">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Ottawa-senators.jpg" alt="Ottawa Senators">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Philadelphia-flyers.png" alt="Philadelphia Flyers">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Pittsburgh-penguins.png" alt="Pittsburgh Penguins">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/San-Jose-sharks.png" alt="San Jose Sharks">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/St.Louis-blues.png" alt="St. Louis Blues">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Tampa-Bay-lightning.png" alt="Tampa Bay Lightning">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Toronto-maple-leafs.png" alt="Toronto Maple Leafs">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Vancouver-canucks.jpg" alt="Vancouver Canucks">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Washington-capitals.png" alt="Washington Capitals">
    </a>
  </div>
  <div class="col-xs-3 col-md-2 logo">
    <a href="#" class="thumbnail">
      <img src="./images/Winnipeg-jets.png" alt="Winnipeg-jets.png">
    </a>
  </div>
</div>
