<!-- <h1>Current User: {{ main.currentUser.username }}</h1> -->

Sort By:
<select ng-model="arenaOrder">
    <option value="team">Team</option>
    <option value="location">Location</option>
    <option value="index">Index</option>
</select>
<ol>
  <div class="arena-lists">
    <li ng-repeat="arena in main.currentUser.arenas | orderBy: arenaOrder" class="row index">
      <div class="col-md-2">
        <img class="img-thumbnail" src="/images/{{arena.teamLogo}}">
      </div>
      <div class="col-md-4">
        <p>{{ arena.team }}</p>
      </div>
        <button type="button" ng-click="arenaCtrl.selectArena(arena);main.open()">Open me!</button>
    </li>
  </div>
</ol>
