<div class="col-md-4">
  <h1>Register</h1>
  <div ng-show="registerCtrl.error" class="alert alert-danger">{{registerCtrl.errorMessage}}</div>
  <form class="form" ng-submit="registerCtrl.register()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="registerCtrl.registerForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="registerCtrl.registerForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="registerCtrl.disabled">Register</button>
      </div>
  </form>
</div>
