<h1>Hello</h1>
<table class="wikitable sortable jquery-tablesorter" style="font-size: 90%">
<thead><tr>
<th scope="col" class="unsortable">Image</th>
<th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Arena</th>
<th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Location</th>
<th scope="col" class="headerSort headerSortUp" tabindex="0" role="columnheader button" title="Sort descending">Team(s)</th>
<th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Capacity</th>
<th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Opened</th>
<th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Refs</th>
</tr></thead><tbody>
<tr>
<td><a href="https://en.wikipedia.org/wiki/File:Honda-ext-arch.JPG" class="image"><img alt="Honda-ext-arch.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Honda-ext-arch.JPG/120px-Honda-ext-arch.JPG" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Honda-ext-arch.JPG/180px-Honda-ext-arch.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Honda-ext-arch.JPG/240px-Honda-ext-arch.JPG 2x" data-file-width="2592" data-file-height="1944"></a></td>
<td><b><a href="https://en.wikipedia.org/wiki/Honda_Center" title="Honda Center">Honda Center</a></b></td>
<td><a href="https://en.wikipedia.org/wiki/Anaheim,_California" title="Anaheim, California">Anaheim, California</a></td>
<td><a href="http://ducks.nhl.com/" title="Anaheim Ducks">Anaheim Ducks</a></td>
<td>17,174</td>
<td>1993</td>
<td><a href="/user/{{ main.currentUser._id}}/add/Honda" class"btn btn-default">Visited</a></td>
</tr><tr>
<td><a href="https://en.wikipedia.org/wiki/File:Glendale-arena.jpg" class="image"><img alt="Glendale-arena.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/03/Glendale-arena.jpg/120px-Glendale-arena.jpg" width="120" height="80" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/03/Glendale-arena.jpg/180px-Glendale-arena.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/03/Glendale-arena.jpg/240px-Glendale-arena.jpg 2x" data-file-width="800" data-file-height="532"></a></td>
<td><b><a href="https://en.wikipedia.org/wiki/Gila_River_Arena" title="Gila River Arena">Gila River Arena</a></b></td>
<td><a href="https://en.wikipedia.org/wiki/Glendale,_Arizona" title="Glendale, Arizona">Glendale, Arizona</a></td>
<td><a href="http://coyotes.nhl.com/" title="Arizona Coyotes">Arizona Coyotes</a></td>
<td>17,125</td>
<td>2003</td>
<td><sup id="cite_ref-nllcapsules_10-0" class="reference"><a href="#cite_note-nllcapsules-10">[10]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:TD_Garden_(crop).JPG" class="image"><img alt="TD Garden (crop).JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6a/TD_Garden_%28crop%29.JPG/120px-TD_Garden_%28crop%29.JPG" width="120" height="72" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6a/TD_Garden_%28crop%29.JPG/180px-TD_Garden_%28crop%29.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6a/TD_Garden_%28crop%29.JPG/240px-TD_Garden_%28crop%29.JPG 2x" data-file-width="3184" data-file-height="1920"></a></td>
<td><b><a href="/wiki/TD_Garden" title="TD Garden">TD Garden</a></b></td>
<td><a href="/wiki/Boston" title="Boston">Boston, Massachusetts</a></td>
<td><a href="/wiki/Boston_Bruins" title="Boston Bruins">Boston Bruins</a></td>
<td>17,565</td>
<td>1995</td>
<td><sup id="cite_ref-17" class="reference"><a href="#cite_note-17">[17]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:First_Niagara_Center_front.jpg" class="image"><img alt="First Niagara Center front.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/First_Niagara_Center_front.jpg/120px-First_Niagara_Center_front.jpg" width="120" height="60" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/First_Niagara_Center_front.jpg/180px-First_Niagara_Center_front.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e1/First_Niagara_Center_front.jpg/240px-First_Niagara_Center_front.jpg 2x" data-file-width="2801" data-file-height="1392"></a></td>
<td><b><a href="/wiki/First_Niagara_Center" title="First Niagara Center">First Niagara Center</a></b></td>
<td><a href="/wiki/Buffalo,_New_York" title="Buffalo, New York">Buffalo, New York</a></td>
<td><a href="/wiki/Buffalo_Sabres" title="Buffalo Sabres">Buffalo Sabres</a></td>
<td>19,070</td>
<td>1996</td>
<td><sup id="cite_ref-EJCapacities_3-2" class="reference"><a href="#cite_note-EJCapacities-3">[3]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:PengrowthSaddledomeNight.jpg" class="image"><img alt="PengrowthSaddledomeNight.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/32/PengrowthSaddledomeNight.jpg/120px-PengrowthSaddledomeNight.jpg" width="120" height="71" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/3/32/PengrowthSaddledomeNight.jpg/180px-PengrowthSaddledomeNight.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/32/PengrowthSaddledomeNight.jpg/240px-PengrowthSaddledomeNight.jpg 2x" data-file-width="2046" data-file-height="1219"></a></td>
<td><b><a href="https://en.wikipedia.org/wiki/Scotiabank_Saddledome" title="Scotiabank Saddledome">Scotiabank Saddledome</a></b></td>
<td><a href="/wiki/Calgary" title="Calgary">Calgary, Alberta</a></td>
<td><a href="/wiki/Calgary_Flames" title="Calgary Flames">Calgary Flames</a></td>
<td>19,289</td>
<td>1983</td>
<td><sup id="cite_ref-nllcapsules_10-3" class="reference"><a href="#cite_note-nllcapsules-10">[10]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:PNC_Arena_Raleigh.JPG" class="image"><img alt="PNC Arena Raleigh.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/13/PNC_Arena_Raleigh.JPG/120px-PNC_Arena_Raleigh.JPG" width="120" height="73" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/13/PNC_Arena_Raleigh.JPG/180px-PNC_Arena_Raleigh.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/13/PNC_Arena_Raleigh.JPG/240px-PNC_Arena_Raleigh.JPG 2x" data-file-width="4146" data-file-height="2508"></a></td>
<td><b><a href="/wiki/PNC_Arena" title="PNC Arena">PNC Arena</a></b></td>
<td><a href="/wiki/Raleigh,_North_Carolina" title="Raleigh, North Carolina">Raleigh, North Carolina</a></td>
<td><a href="/wiki/Carolina_Hurricanes" title="Carolina Hurricanes">Carolina Hurricanes</a></td>
<td>18,680</td>
<td>1999</td>
<td><sup id="cite_ref-14" class="reference"><a href="#cite_note-14">[14]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:United_Center_060716.jpg" class="image"><img alt="United Center 060716.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/47/United_Center_060716.jpg/120px-United_Center_060716.jpg" width="120" height="77" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/47/United_Center_060716.jpg/180px-United_Center_060716.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/47/United_Center_060716.jpg/240px-United_Center_060716.jpg 2x" data-file-width="1024" data-file-height="658"></a></td>
<td><b><a href="/wiki/United_Center" title="United Center">United Center</a></b></td>
<td><a href="/wiki/Chicago" title="Chicago">Chicago, Illinois</a></td>
<td><a href="/wiki/Chicago_Blackhawks" title="Chicago Blackhawks">Chicago Blackhawks</a></td>
<td>19,717</td>
<td>1994</td>
<td><sup id="cite_ref-18" class="reference"><a href="#cite_note-18">[18]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:Denver_Pepsi_Center_1.jpg" class="image"><img alt="Denver Pepsi Center 1.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Denver_Pepsi_Center_1.jpg/120px-Denver_Pepsi_Center_1.jpg" width="120" height="67" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Denver_Pepsi_Center_1.jpg/180px-Denver_Pepsi_Center_1.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Denver_Pepsi_Center_1.jpg/240px-Denver_Pepsi_Center_1.jpg 2x" data-file-width="1948" data-file-height="1082"></a></td>
<td><b><a href="/wiki/Pepsi_Center" title="Pepsi Center">Pepsi Center</a></b></td>
<td><a href="/wiki/Denver" title="Denver">Denver, Colorado</a></td>
<td><a href="/wiki/Colorado_Avalanche" title="Colorado Avalanche">Colorado Avalanche</a></td>
<td>18,007</td>
<td>1999</td>
<td><sup id="cite_ref-nllcapsules_10-2" class="reference"><a href="#cite_note-nllcapsules-10">[10]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:Columbus-ohio-nationwide-arena.jpg" class="image"><img alt="Columbus-ohio-nationwide-arena.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/68/Columbus-ohio-nationwide-arena.jpg/120px-Columbus-ohio-nationwide-arena.jpg" width="120" height="81" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/68/Columbus-ohio-nationwide-arena.jpg/180px-Columbus-ohio-nationwide-arena.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/68/Columbus-ohio-nationwide-arena.jpg/240px-Columbus-ohio-nationwide-arena.jpg 2x" data-file-width="3372" data-file-height="2286"></a></td>
<td><b><a href="/wiki/Nationwide_Arena" title="Nationwide Arena">Nationwide Arena</a></b></td>
<td><a href="/wiki/Columbus,_Ohio" title="Columbus, Ohio">Columbus, Ohio</a></td>
<td><a href="/wiki/Columbus_Blue_Jackets" title="Columbus Blue Jackets">Columbus Blue Jackets</a></td>
<td>18,144</td>
<td>2000</td>
<td><sup id="cite_ref-13" class="reference"><a href="#cite_note-13">[13]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:American_Airlines_Center_outside.jpg" class="image"><img alt="American Airlines Center outside.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/American_Airlines_Center_outside.jpg/120px-American_Airlines_Center_outside.jpg" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/American_Airlines_Center_outside.jpg/180px-American_Airlines_Center_outside.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/American_Airlines_Center_outside.jpg/240px-American_Airlines_Center_outside.jpg 2x" data-file-width="650" data-file-height="488"></a></td>
<td><b><a href="/wiki/American_Airlines_Center" title="American Airlines Center">American Airlines Center</a></b></td>
<td><a href="/wiki/Dallas" title="Dallas">Dallas, Texas</a></td>
<td><a href="/wiki/Dallas_Stars" title="Dallas Stars">Dallas Stars</a></td>
<td>18,532</td>
<td>2001</td>
<td><sup id="cite_ref-EJCapacities_3-0" class="reference"><a href="#cite_note-EJCapacities-3">[3]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:Joe_Louis_Arena.JPG" class="image"><img alt="Joe Louis Arena.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Joe_Louis_Arena.JPG/120px-Joe_Louis_Arena.JPG" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Joe_Louis_Arena.JPG/180px-Joe_Louis_Arena.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Joe_Louis_Arena.JPG/240px-Joe_Louis_Arena.JPG 2x" data-file-width="1024" data-file-height="768"></a></td>
<td><b><a href="/wiki/Joe_Louis_Arena" title="Joe Louis Arena">Joe Louis Arena</a></b></td>
<td><a href="/wiki/Detroit" title="Detroit">Detroit, Michigan</a></td>
<td><a href="/wiki/Detroit_Red_Wings" title="Detroit Red Wings">Detroit Red Wings</a></td>
<td>20,027</td>
<td>1979</td>
<td><sup id="cite_ref-11" class="reference"><a href="#cite_note-11">[11]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:Rogers_Place_preview_sw.jpg" class="image"><img alt="Rogers Place preview sw.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/41/Rogers_Place_preview_sw.jpg/120px-Rogers_Place_preview_sw.jpg" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/41/Rogers_Place_preview_sw.jpg/180px-Rogers_Place_preview_sw.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/41/Rogers_Place_preview_sw.jpg/240px-Rogers_Place_preview_sw.jpg 2x" data-file-width="3264" data-file-height="2448"></a></td>
<td><b><a href="/wiki/Rogers_Place" title="Rogers Place">Rogers Place</a></b></td>
<td><a href="/wiki/Edmonton" title="Edmonton">Edmonton, Alberta</a></td>
<td><a href="/wiki/Edmonton_Oilers" title="Edmonton Oilers">Edmonton Oilers</a></td>
<td>18,641</td>
<td>2016</td>
<td><sup id="cite_ref-16" class="reference"><a href="#cite_note-16">[16]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:BankAtlanticCenterCrop.JPG" class="image"><img alt="BankAtlanticCenterCrop.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/BankAtlanticCenterCrop.JPG/120px-BankAtlanticCenterCrop.JPG" width="120" height="40" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/BankAtlanticCenterCrop.JPG/180px-BankAtlanticCenterCrop.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e5/BankAtlanticCenterCrop.JPG/240px-BankAtlanticCenterCrop.JPG 2x" data-file-width="3068" data-file-height="1013"></a></td>
<td><b><a href="/wiki/BB%26T_Center_(Sunrise,_Florida)" title="BB&amp;T Center (Sunrise, Florida)">BB&amp;T Center</a></b></td>
<td><a href="/wiki/Sunrise,_Florida" title="Sunrise, Florida">Sunrise, Florida</a></td>
<td><a href="/wiki/Florida_Panthers" title="Florida Panthers">Florida Panthers</a></td>
<td>19,250</td>
<td>1998</td>
<td><sup id="cite_ref-4" class="reference"><a href="#cite_note-4">[4]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:Staplescenter.jpg" class="image"><img alt="Staplescenter.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/10/Staplescenter.jpg/120px-Staplescenter.jpg" width="120" height="95" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/10/Staplescenter.jpg/180px-Staplescenter.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/10/Staplescenter.jpg/240px-Staplescenter.jpg 2x" data-file-width="4386" data-file-height="3478"></a></td>
<td><b><a href="/wiki/Staples_Center" title="Staples Center">Staples Center</a></b></td>
<td><a href="/wiki/Los_Angeles" title="Los Angeles">Los Angeles, California</a></td>
<td><a href="/wiki/Los_Angeles_Kings" title="Los Angeles Kings">Los Angeles Kings</a></td>
<td>18,230</td>
<td>1999</td>
<td><sup id="cite_ref-EJCapacities_3-4" class="reference"><a href="#cite_note-EJCapacities-3">[3]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:XcelEnergyCenteroverview.jpg" class="image"><img alt="XcelEnergyCenteroverview.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/84/XcelEnergyCenteroverview.jpg/120px-XcelEnergyCenteroverview.jpg" width="120" height="52" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/84/XcelEnergyCenteroverview.jpg/180px-XcelEnergyCenteroverview.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/84/XcelEnergyCenteroverview.jpg/240px-XcelEnergyCenteroverview.jpg 2x" data-file-width="900" data-file-height="393"></a></td>
<td><b><a href="/wiki/Xcel_Energy_Center" title="Xcel Energy Center">Xcel Energy Center</a></b></td>
<td><a href="/wiki/Saint_Paul,_Minnesota" title="Saint Paul, Minnesota">Saint Paul, Minnesota</a></td>
<td><a href="/wiki/Minnesota_Wild" title="Minnesota Wild">Minnesota Wild</a></td>
<td>17,954</td>
<td>2000</td>
<td><sup id="cite_ref-nllcapsules_10-5" class="reference"><a href="#cite_note-nllcapsules-10">[10]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:Centre_bell_2.jpg" class="image"><img alt="Centre bell 2.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Centre_bell_2.jpg/120px-Centre_bell_2.jpg" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Centre_bell_2.jpg/180px-Centre_bell_2.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Centre_bell_2.jpg/240px-Centre_bell_2.jpg 2x" data-file-width="3264" data-file-height="2448"></a></td>
<td><b><a href="/wiki/Bell_Centre" class="mw-redirect" title="Bell Centre">Bell Centre</a></b></td>
<td><a href="/wiki/Montreal" title="Montreal">Montreal, Quebec</a></td>
<td><a href="/wiki/Montreal_Canadiens" title="Montreal Canadiens">Montreal Canadiens</a></td>
<td>21,288</td>
<td>1996</td>
<td><sup id="cite_ref-6" class="reference"><a href="#cite_note-6">[6]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:WTN_EVula_053.jpg" class="image"><img alt="WTN EVula 053.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fe/WTN_EVula_053.jpg/120px-WTN_EVula_053.jpg" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fe/WTN_EVula_053.jpg/180px-WTN_EVula_053.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fe/WTN_EVula_053.jpg/240px-WTN_EVula_053.jpg 2x" data-file-width="3072" data-file-height="2304"></a></td>
<td><b><a href="/wiki/Bridgestone_Arena" title="Bridgestone Arena">Bridgestone Arena</a></b></td>
<td><a href="/wiki/Nashville,_Tennessee" title="Nashville, Tennessee">Nashville, Tennessee</a></td>
<td><a href="/wiki/Nashville_Predators" title="Nashville Predators">Nashville Predators</a></td>
<td>17,113</td>
<td>1996</td>
<td><sup id="cite_ref-EJCapacities_3-1" class="reference"><a href="#cite_note-EJCapacities-3">[3]</a></sup><sup id="cite_ref-Game_Summary_7-0" class="reference"><a href="#cite_note-Game_Summary-7">[7]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:Pudcentnewarkjeh.JPG" class="image"><img alt="Pudcentnewarkjeh.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/84/Pudcentnewarkjeh.JPG/120px-Pudcentnewarkjeh.JPG" width="120" height="98" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/84/Pudcentnewarkjeh.JPG/180px-Pudcentnewarkjeh.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/84/Pudcentnewarkjeh.JPG/240px-Pudcentnewarkjeh.JPG 2x" data-file-width="2812" data-file-height="2305"></a></td>
<td><b><a href="/wiki/Prudential_Center" title="Prudential Center">Prudential Center</a></b></td>
<td><a href="/wiki/Newark,_New_Jersey" title="Newark, New Jersey">Newark, New Jersey</a></td>
<td><a href="/wiki/New_Jersey_Devils" title="New Jersey Devils">New Jersey Devils</a></td>
<td>17,625</td>
<td>2007</td>
<td><sup id="cite_ref-15" class="reference"><a href="#cite_note-15">[15]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:Barclays_Center_western_side.jpg" class="image"><img alt="Barclays Center western side.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/55/Barclays_Center_western_side.jpg/120px-Barclays_Center_western_side.jpg" width="120" height="90" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/55/Barclays_Center_western_side.jpg/180px-Barclays_Center_western_side.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/55/Barclays_Center_western_side.jpg/240px-Barclays_Center_western_side.jpg 2x" data-file-width="1024" data-file-height="768"></a></td>
<td><b><a href="/wiki/Barclays_Center" title="Barclays Center">Barclays Center</a></b></td>
<td><a href="/wiki/Brooklyn" title="Brooklyn">Brooklyn, New York</a></td>
<td><a href="/wiki/New_York_Islanders" title="New York Islanders">New York Islanders</a></td>
<td>15,795</td>
<td>2012</td>
<td><sup id="cite_ref-5" class="reference"><a href="#cite_note-5">[5]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:Msg2005d.JPG" class="image"><img alt="Msg2005d.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/98/Msg2005d.JPG/120px-Msg2005d.JPG" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/98/Msg2005d.JPG/180px-Msg2005d.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/98/Msg2005d.JPG/240px-Msg2005d.JPG 2x" data-file-width="1600" data-file-height="1200"></a></td>
<td><b><a href="/wiki/Madison_Square_Garden" title="Madison Square Garden">Madison Square Garden</a></b></td>
<td><a href="/wiki/New_York_City" title="New York City">New York City, New York</a></td>
<td><a href="/wiki/New_York_Rangers" title="New York Rangers">New York Rangers</a></td>
<td>18,006</td>
<td>1968 †</td>
<td><sup id="cite_ref-12" class="reference"><a href="#cite_note-12">[12]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:Canadian_Tire_Centre_Ottawa.jpg" class="image"><img alt="Canadian Tire Centre Ottawa.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Canadian_Tire_Centre_Ottawa.jpg/120px-Canadian_Tire_Centre_Ottawa.jpg" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Canadian_Tire_Centre_Ottawa.jpg/180px-Canadian_Tire_Centre_Ottawa.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Canadian_Tire_Centre_Ottawa.jpg/240px-Canadian_Tire_Centre_Ottawa.jpg 2x" data-file-width="960" data-file-height="720"></a></td>
<td><b><a href="/wiki/Canadian_Tire_Centre" title="Canadian Tire Centre">Canadian Tire Centre</a></b></td>
<td><a href="/wiki/Ottawa" title="Ottawa">Ottawa, Ontario</a></td>
<td><a href="/wiki/Ottawa_Senators" title="Ottawa Senators">Ottawa Senators</a></td>
<td>19,153</td>
<td>1996</td>
<td><sup id="cite_ref-8" class="reference"><a href="#cite_note-8">[8]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:Wells_Fargo_Center.jpg" class="image"><img alt="Wells Fargo Center.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/61/Wells_Fargo_Center.jpg/120px-Wells_Fargo_Center.jpg" width="120" height="73" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/61/Wells_Fargo_Center.jpg/180px-Wells_Fargo_Center.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/61/Wells_Fargo_Center.jpg/240px-Wells_Fargo_Center.jpg 2x" data-file-width="2000" data-file-height="1219"></a></td>
<td><b><a href="/wiki/Wells_Fargo_Center_(Philadelphia)" title="Wells Fargo Center (Philadelphia)">Wells Fargo Center</a></b></td>
<td><a href="/wiki/Philadelphia" title="Philadelphia">Philadelphia, Pennsylvania</a></td>
<td><a href="/wiki/Philadelphia_Flyers" title="Philadelphia Flyers">Philadelphia Flyers</a></td>
<td>19,543</td>
<td>1996</td>
<td><sup id="cite_ref-EJCapacities_3-6" class="reference"><a href="#cite_note-EJCapacities-3">[3]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:PensArena.jpg" class="image"><img alt="PensArena.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7b/PensArena.jpg/120px-PensArena.jpg" width="120" height="68" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/7b/PensArena.jpg/180px-PensArena.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/7b/PensArena.jpg/240px-PensArena.jpg 2x" data-file-width="3712" data-file-height="2088"></a></td>
<td><b><a href="/wiki/Consol_Energy_Center" title="Consol Energy Center">Consol Energy Center</a></b></td>
<td><a href="/wiki/Pittsburgh" title="Pittsburgh">Pittsburgh, Pennsylvania</a></td>
<td><a href="/wiki/Pittsburgh_Penguins" title="Pittsburgh Penguins">Pittsburgh Penguins</a></td>
<td>18,387</td>
<td>2010</td>
<td><sup id="cite_ref-9" class="reference"><a href="#cite_note-9">[9]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:HP_Pavilion.jpg" class="image"><img alt="HP Pavilion.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b2/HP_Pavilion.jpg/120px-HP_Pavilion.jpg" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b2/HP_Pavilion.jpg/180px-HP_Pavilion.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b2/HP_Pavilion.jpg/240px-HP_Pavilion.jpg 2x" data-file-width="800" data-file-height="600"></a></td>
<td><b><a href="/wiki/SAP_Center" title="SAP Center">SAP Center</a></b></td>
<td><a href="/wiki/San_Jose,_California" title="San Jose, California">San Jose, California</a></td>
<td><a href="/wiki/San_Jose_Sharks" title="San Jose Sharks">San Jose Sharks</a></td>
<td>17,562</td>
<td>1993</td>
<td><sup id="cite_ref-nllcapsules_10-4" class="reference"><a href="#cite_note-nllcapsules-10">[10]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:Scottrade_Center_3Apr2005.jpg" class="image"><img alt="Scottrade Center 3Apr2005.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Scottrade_Center_3Apr2005.jpg/120px-Scottrade_Center_3Apr2005.jpg" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Scottrade_Center_3Apr2005.jpg/180px-Scottrade_Center_3Apr2005.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/88/Scottrade_Center_3Apr2005.jpg/240px-Scottrade_Center_3Apr2005.jpg 2x" data-file-width="1024" data-file-height="768"></a></td>
<td><b><a href="/wiki/Scottrade_Center" title="Scottrade Center">Scottrade Center</a></b></td>
<td><a href="/wiki/St._Louis" title="St. Louis">St. Louis, Missouri</a></td>
<td><a href="/wiki/St._Louis_Blues" title="St. Louis Blues">St. Louis Blues</a></td>
<td>19,150</td>
<td>1994</td>
<td><sup id="cite_ref-EJCapacities_3-3" class="reference"><a href="#cite_note-EJCapacities-3">[3]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:St_Pete_Times_Forum_At_Sunset.jpg" class="image"><img alt="St Pete Times Forum At Sunset.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2a/St_Pete_Times_Forum_At_Sunset.jpg/120px-St_Pete_Times_Forum_At_Sunset.jpg" width="120" height="65" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/2a/St_Pete_Times_Forum_At_Sunset.jpg/180px-St_Pete_Times_Forum_At_Sunset.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/2a/St_Pete_Times_Forum_At_Sunset.jpg/240px-St_Pete_Times_Forum_At_Sunset.jpg 2x" data-file-width="2046" data-file-height="1110"></a></td>
<td><b><a href="/wiki/Amalie_Arena" title="Amalie Arena">Amalie Arena</a></b></td>
<td><a href="/wiki/Tampa,_Florida" title="Tampa, Florida">Tampa, Florida</a></td>
<td><a href="/wiki/Tampa_Bay_Lightning" title="Tampa Bay Lightning">Tampa Bay Lightning</a></td>
<td>19,092</td>
<td>1996</td>
<td><sup id="cite_ref-2" class="reference"><a href="#cite_note-2">[2]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:ACC_on_Bay_St_and_CN_Tower.JPG" class="image"><img alt="ACC on Bay St and CN Tower.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d8/ACC_on_Bay_St_and_CN_Tower.JPG/120px-ACC_on_Bay_St_and_CN_Tower.JPG" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d8/ACC_on_Bay_St_and_CN_Tower.JPG/180px-ACC_on_Bay_St_and_CN_Tower.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d8/ACC_on_Bay_St_and_CN_Tower.JPG/240px-ACC_on_Bay_St_and_CN_Tower.JPG 2x" data-file-width="1024" data-file-height="768"></a></td>
<td><b><a href="/wiki/Air_Canada_Centre" title="Air Canada Centre">Air Canada Centre</a></b></td>
<td><a href="/wiki/Toronto" title="Toronto">Toronto, Ontario</a></td>
<td><a href="/wiki/Toronto_Maple_Leafs" title="Toronto Maple Leafs">Toronto Maple Leafs</a></td>
<td>18,819</td>
<td>1999</td>
<td><sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:Rogers_Arena.jpg" class="image"><img alt="Rogers Arena.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Rogers_Arena.jpg/120px-Rogers_Arena.jpg" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Rogers_Arena.jpg/180px-Rogers_Arena.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Rogers_Arena.jpg/240px-Rogers_Arena.jpg 2x" data-file-width="2272" data-file-height="1704"></a></td>
<td><b><a href="/wiki/Rogers_Arena" title="Rogers Arena">Rogers Arena</a></b></td>
<td><a href="/wiki/Vancouver" title="Vancouver">Vancouver, British Colombia</a></td>
<td><a href="/wiki/Vancouver_Canucks" title="Vancouver Canucks">Vancouver Canucks</a></td>
<td>18,910</td>
<td>1995</td>
<td></td>
</tr><tr>
<td><a href="/wiki/File:Verizon_Center_wide.jpg" class="image"><img alt="Verizon Center wide.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Verizon_Center_wide.jpg/120px-Verizon_Center_wide.jpg" width="120" height="80" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Verizon_Center_wide.jpg/180px-Verizon_Center_wide.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Verizon_Center_wide.jpg/240px-Verizon_Center_wide.jpg 2x" data-file-width="1280" data-file-height="853"></a></td>
<td><b><a href="/wiki/Verizon_Center" title="Verizon Center">Verizon Center</a></b></td>
<td><a href="/wiki/Washington,_D.C." title="Washington, D.C.">Washington, D.C.</a></td>
<td><a href="/wiki/Washington_Capitals" title="Washington Capitals">Washington Capitals</a></td>
<td>18,506</td>
<td>1997</td>
<td><sup id="cite_ref-EJCapacities_3-5" class="reference"><a href="#cite_note-EJCapacities-3">[3]</a></sup></td>
</tr><tr>
<td><a href="/wiki/File:MTS_CENTRE_b.jpg" class="image"><img alt="MTS CENTRE b.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0a/MTS_CENTRE_b.jpg/120px-MTS_CENTRE_b.jpg" width="120" height="63" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/0a/MTS_CENTRE_b.jpg/180px-MTS_CENTRE_b.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/0a/MTS_CENTRE_b.jpg/240px-MTS_CENTRE_b.jpg 2x" data-file-width="1015" data-file-height="535"></a></td>
<td><b><a href="/wiki/MTS_Centre" title="MTS Centre">MTS Centre</a></b></td>
<td><a href="/wiki/Winnipeg" title="Winnipeg">Winnipeg, Manitoba</a></td>
<td><a href="/wiki/Winnipeg_Jets" title="Winnipeg Jets">Winnipeg Jets</a></td>
<td>15,294</td>
<td>2004</td>
<td></td>
</tr></tbody><tfoot></tfoot></table>
